{% load cms_tags menu_tags sekizai_tags js_reverse %}
{% load render_bundle from webpack_loader %}
<!doctype html>
<html>
<head>
    <title>{% block title %}Welcome: Peter Mutale {% endblock title %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% render_block "css" %}
    {% render_bundle 'themes' 'css' %}
</head>
<body>
{% cms_toolbar %}
<div class="container">
    <ul class="nav">
    </ul>
    {% block content %}
    {% endblock content %}
</div>

<script type="text/javascript" charset="utf-8">
  {% js_reverse_inline %}
</script>
{% render_bundle 'themes' 'js'%}

{% render_block "js" %}
</body>
</html>
