{% load i18n cms_tags menu_tags sekizai_tags js_reverse page_current_url %}
{% load render_bundle from webpack_loader %}
<!doctype html>
<html>
<head>
    <title>{% block title %}Welcome: Peter Mutale {% endblock title %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% render_block "css" %}
    {% render_bundle 'themes' 'css' %}
</head>
<body>
{% cms_toolbar %}
<div class="container">
    <ul class="nav">
    </ul>
{% get_current_language as LANGUAGE_CODE %}
    <div id="root" data-pre-current="{{ request.path|page_current_url|default:'home' }}" data-language-page="{{ LANGUAGE_CODE }}">   </div>
    {% block content %}
    {% endblock content %}
</div>

<script type="text/javascript" charset="utf-8">
  {% js_reverse_inline %}
</script>
{% render_bundle 'themes' 'js'%}

{% render_block "js" %}
</body>
</html>
