.__mutale_footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  .copyright {
    &::before {
      content: '\00A9';
    }
  }
  .email {
    &::before {
      content: '\272A';
      color: $link-hover;
    }
  }
}