.__mutale_home_page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  a {
    text-decoration: none;
  }
  .white-space {
    &::after {
      content: '\2736';
    }
  }
}